/* preferences.css */

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: left;
    margin-top: 20px;
    display: flex; /* Use flexbox */
    align-items: center; /* Center align items vertically */
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="text"], input[type="date"] {
    flex: 1; /* Take up remaining space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.back-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    font-size: 14px; /* Adjust as needed */
    padding: 5px 10px; /* Adjust as needed */
}

.back-button:hover {
    background-color: #999;
}

.toggle-buttons input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .toggle-buttons label {
    border: 1px solid #333;
    border-radius: 0.5em;
    padding: 0.5em;
  }
   
  .toggle-buttons input:checked + label {
    background: #ebf5d7;
    color: #5a9900;
    box-shadow: none;
  }
  
  input:hover + label,
  input:focus + label {
    background: #ffebe6; 
  }
